.ce-block__content {
  max-width:unset;
}

.ct {
  z-index: 99;
}

.codex-editor__redactor {
  padding-bottom: 50px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container {
  padding-left: 3vw;
  padding-right: 3vw;
}

/* .break {
    border: 1px solid maroon;
} */
br
{   content: "A" !important;
    display: block !important;
    margin-bottom: 1.5em !important;
    border: 1px solid maroon;
}

.ce-delimiter {
    /* height: 1px; */
    border: 1px  maroon;
}